@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/***************************** Body ********************/
body {
	margin: 0;
	padding: 0;
	background-image: url("../media/fond.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: arial;
}

/*************************** Site *****************************/
/* conteneur */
#site {		 
	width: 977px;
	margin: auto;
	box-shadow: 3px 0px 5px 0px #333;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"nav"
		"section"
		"footer";
}


/************************ header ****************************/
header {
	width: 100%;
	grid-area: header;
	background-image: radial-gradient(#777, #000);
	opacity: 0.95;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #333;

}
#headerG, #headerD {
	width: 40%;
}

#headerD {
	font-family: 'Caveat Brush', cursive;
	font-size: 65px;
	color: #ff9;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/************************* Nav ******************************/
nav {
	width: 100%;
	grid-area: nav;
	background: #232323;

}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;

}

nav ul li {
	list-style: none;
	padding: 25px;
	text-align: center;
}

nav ul li:hover {
	background: #903;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a h4 {
	margin: 0;
	padding: 0;
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fc0;
}

nav ul li a span {
	font-size: 12px;
	color: #ff0;

}

.on {
	background: #903;
	padding: 20px;
}

/************************* Section *************************/
section {
	width: 100%;
	grid-area: section;
	background: #fff;
}

article {
	width: 90%;
	margin: auto;
	text-align: justify;
	font-size: 15px;
	padding-top: 20px
	padding-bottom: 20px;

}

.photo {
	width: 100%;
	text-align: center;
}

h1 {
	text-align: center;
	color: #f06;
}

.lien {
	color: #03f;
	text-decoration: none;
}

.lien:hover {
	color: #00f;
	text-decoration: underline;
}

.separateur {
	border-bottom: 3px dotted #ccc;
}

/******************** Footer *********************************/
footer {
	width: 100%;
	grid-area: footer;
	background: #000;
	color: #ccc;
	font-size: 13px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;

}




/************************ iphone *****************************/
@media screen and (max-width: 976px) {
#site {
	width: 94%;
	}


#headerG {
	display: none;
}

#headerD {
	width: 100%;
}

nav ul li {
	padding: 12px;

}

nav ul li a h4 {
	font-size: 15px;
}

nav ul li a span {
	font-size: 10px;
}


}